<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo mensaje desde la web de YouDrive</title>
    <style>
        .container{
            border: #9A9A9A, 3px, solid;
            border-radius: .5rem;
            padding: 1rem;
        }

    </style>
</head>
<body>
    <div class="container">
        <div class="content">
            <h2>Mensaje para el equipo de You Drive</h2>
            <hr>
            <p>De: <br> {{sender}}</p>
            <p>email: <br> {{email}}</p>
            <p>message: <br>{{message}}</p>
        </div>
    </div>
</body>
</html>