<!DOCTYPE html>
<html>
    <head>
        <title>Bienvenido a YouDrive!</title>
    </head>
    <body style="color: black;">
        <h1>Bienvenido a YouDrive!</h1>
        <p style= "font-size: 14px">Gracias por registrarte en nuestra plataforma. Estamos encantados de tenerte como parte de nuestra comunidad. <br><br> Con You Drive, puedes alquilar autos fácilmente y explorar nuevos destinos con comodidad y seguridad. Ya sea que estés planeando un viaje por carretera o simplemente necesites un vehículo para desplazarte por la ciudad, estamos aquí para ayudarte. <br><br> No dudes en explorar nuestra plataforma y descubrir todas las opciones disponibles para ti. <br><br> Si tienes alguna pregunta o necesitas asistencia, no dudes en contactarnos. ¡Estamos aquí para ayudarte a hacer realidad tu próximo viaje! Gracias de nuevo por unirte a You Drive. ¡Esperamos verte pronto en la carretera!</p> <br><br>
        
        <p style="font-weight: bold; font-style: italic">Atentamente, <br> El equipo de YouDrive</p>

        <img src="cid:imagename" alt="Logo de You Drive" style="border-radius: .5rem">
    </body>
</html>